.aboutContainer {
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 20px;
   

}

.aboutus {
    flex: 1;
    padding-right: 20px;
    border: solid grey 2px;
    background: #0b1c2c;

    border-radius: 10px;
    align-content: space-evenly;
    
    
}

.subtitle1 {
    color: #FF7A00;
    font-weight: bold;
}

.title1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 10px 0;
}

.description {
    font-size: 20px;
    line-height: 1.6;
    color: #b4adad;
    
}

.pictureandstats {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.picture img {
    width: 100%;
    height: 350px;  /* Set custom height as per your requirement */
    object-fit: cover; /* Ensures the image fills the space and crops excess */
    border-radius: 10px;
    
}


.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    text-align: center;
}

.stat-item {
    border: solid grey 2px;
    background: #0b1c2c;
    padding: 15px;
    border-radius: 10px;
}

.stat-item h2 {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.stat-item p {
    font-size: 1rem;
    color: white;
}
