.pdf-wrapper {
    text-align: center;
    margin-top: 20px;
    height: 50vh;
}

.pdf-title {
    font-size: 40px;
    font-weight: bold;
     color: #fefefe;
}
.sub-title {
    font-size: 20px;
    font-weight: 200;
    color: #fefefe;
    margin-bottom: 30px;
}

.pdf-container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 20px;
    border: #949191 solid 1px;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}

.pdf-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.pdf-item:hover {
    transform: scale(1.1);
}

.pdf-icon {
    font-size: 80px;
    color: #fff8f8;
    transition: color 0.3s ease;
}

.pdf-item:hover .pdf-icon {
    color: #0f7564;
}

.pdf-text {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #fff9f9;
}
